body {
    font-family: Arial, sans-serif;
    line-height: 1.8; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 250px; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 250px;
}

nav a:hover {
    color: #f4f4f4;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 250px; 
}

h2 {
    color: #333;
    font-size: 260px; 
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-section {
    text-align: center;
    margin-bottom: 20px;
}
